<section class="spt-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Spotimate" %></h1>
  <p>A Spotify app that<br/>manages your listening experience.</p>
</section>

<section class="row">
  <article class="column">
    <a href="/user/rooms">Listening Rooms</a>
  </article>
  <article class="column">
  </article>
</section>